[flake8]
exclude = .git,__pycache__,build,dist
# Error codes we should ignore
# W291 trailing whitespace
# W293 blank line contains whitespace
# W391 blank line at end of file
# W504 line break after binary operator
# E128 continuation line under-indented for visual indent
# E225 missing whitespace around operator
# E228 missing whitespace around modulo operator
# E501 line too long (??? > 79 characters)
ignore = W291,W293,W391,W504,E128,E225,E228,E501
