name: Flake8 Lint

on: [push, pull_request]

jobs:
  do-flake8:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v1
    - name: Lint with flake8
      uses: py-actions/flake8@v2
